@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');
    *{
        font-family: 'Poppins', sans-serif;
        margin: 0; padding:0;
        box-sizing: border-box;
        outline:none; border:none;
        text-decoration: none;
        transition:all .2s linear;
    }
      
    .loginbox {
        width: 320px;
        height: 500px;
        background: #000;
        color: #fff;
        top: 60%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
    }
    
    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        left: calc(50% - 50px);
    }
    
    h1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }
    
    .loginbox p {
        margin: 0;
        padding: 0;
        font-weight: bold;
    }
    
    .loginbox input {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .loginbox input[type="text"],
    input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }
    
    .loginbox input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        background: #fb2525;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }
    
    .loginbox input[type="submit"]:hover {
        cursor: pointer;
        background: #ffc107;
        color: #000;
    }
    
    .loginbox a {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgray;
    }
    
    .loginbox a:hover {
        color: #ffc107;
    }