body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
	font-size: 1em;
	width:960px;
  height: auto;
	background: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px 20px;
	margin: auto;
  margin-top: 50px; 
	position: relative;
	clear: both
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="address"],
input[type="tel"],
select {
  width: 97.5%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.py_btn {
  width: 100%;
  background-color: #007bff;
    display: inline-block;
    justify-content: center;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.py_btn:hover {
  background-color: #0056b3;
}

.payment-methods {
  margin-top: 10px;
}

.payment-method {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.payment-method input[type="radio"] {
  margin-right: 10px;
}

.payment-method img {
  width: 100px;
  height: 50px;
  object-fit: fill;
  border-radius: 10%;
  border: 1px solid black;
  margin-right: 5px;
}

.payment-method label {
  font-weight: normal;
}

label[for="card-number"]{
  margin-left: 15px;
}

input[name="card-number"]{
  width: 40%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}