.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid #007bff; /* border around the table */
    border-radius: 5px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

.sc_btn{
    width: 10%;
    background-color: #007bff;
    display: inline-block;
    justify-content: center;
    color: white;
    border: none;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

.sc_btn:hover {
    background-color: #0056b3; 
}