body {
    background-image: url('/FYP-F1/images/f1_background.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
}

.loginbox {
    width: 320px;
    height: 480px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.loginbox h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 28px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #000;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
.loginbox input[type="email"],
.loginbox input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.loginbox input[type="submit"]:hover {
    background: #333;
    transition: background 0.3s ease;
}

.loginbox .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.signup {
    text-align: center;
}

.signup .text {
    font-size: 16px;
    color: white;
}

.signup .signin-text {
    color: white;
    font-weight: bold;
}

.password-container {
    position: relative;
}

.password-container .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-strength {
    font-size: 12px;
    margin-top: 5px;
}